<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Title</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!--本页面样式-->
    <link rel="stylesheet" type="text/css" href="../css/about.css"/>
    <script>(function (doc, win) { var de = doc.documentElement, re = 'orientationchange' in window ? 'orientationchange' : 'resize', recalc = function () {var cw = de.clientWidth; if (!cw) return; de.style.fontSize = cw>=750 ? '100px' : 100 * (cw / 750) + 'px'; };recalc(); if (!doc.addEventListener) return; win.addEventListener(re, recalc, false); doc.addEventListener('DOMContentLoaded', recalc, false); })(document, window);</script>

</head>
<body>
    <div id="header"></div>
    <div class="banner">
		<img src="../image/aboutUS-banner-01.jpg" alt=""/>
		<ul class="aboutUS_nav">
			<li class="active">
				<a href="about.html" target="_blank" title="关于我们">
					<img src="../image/aboutUS_nav01.jpg" alt="关于我们"/>
					<p>关于我们</p>
				</a>
			</li>
			<li>
				<a href="development.html" target="_blank" title="发展历程">
					<img src="../image/aboutUS_nav02.jpg" alt="发展历程"/>
					<p>发展历程</p>
				</a>
			</li>
			<li>
				<a href="team.html" target="_blank" title="核心团队">
					<img src="../image/aboutUS_nav03.jpg" alt="核心团队"/>
					<p>核心团队</p>
				</a>
			</li>
			<li>
				<a href="partner.html" target="_blank" title="战略合作伙伴">
					<img src="../image/aboutUS_nav04.jpg" alt="战略合作伙伴"/>
					<p>战略合作伙伴</p>
				</a>
			</li>
			<li>
				<a href="feature.html" target="_blank" title="特色优势">
					<img src="../image/aboutUS_nav05.jpg" alt="特色优势"/>
					<p>特色优势</p>
				</a>
			</li>
			<li>
				<a href="culture.html" target="_blank" title="企业文化">
					<img src="../image/aboutUS_nav06.jpg" alt="企业文化"/>
					<p>企业文化</p>
				</a>
			</li>
		</ul>
	</div>
	<div id="contentIndex">
        <div class="container">
        	<div id="about">
	        	<div class="row" >
		        	<h2 class="aboutUS-h2">关于我们</h2>
		        	<div class="aboutUS_con1">
		        		<img src="../image/about-con01.jpg" alt=""/>
		        		<div class="content">
		        			<p>杭州妈妈去哪儿网络科技有限公司成立于2014年8月。妈妈去哪儿是一家根植于母婴行业的“产业互联网公司”，致力于“用互联网技术改造传统的线下母婴零售业态，为其赋能互联网工具、为其打通上下游连接，使其综合盈利能力得到全面提升”。</p>
		        			<h3>国资背景：</h3>
		        			<p>妈妈去哪儿是国内母婴互联网企业中唯一拥有大比例国有资产的企业，投资股东包含华睿投资、娱乐工场、浙江股权交易中心、浙江省新华书店集团（国资背景）等多家知名投资机构，成立四年累计完成4次股权融资。</p>
		        			<h3>专业团队：</h3>
		        			<p>核心管理团队来自上市公司、央企、知名互联网公司、知名母婴传统企业，在公司治理、业务突破、互联网应用、财税筹划等方面经验丰富。</p>
		        			<h3>业务范围：</h3>
		        			<p>目前公司业务范围已经覆盖全国，其中重点经营的市场区域为华东江浙皖、西南云贵川渝。累计已有2万余家线上线下母婴相关商户入驻平台。目前已有5千余家线下母婴店向平台采购货品，公司已打通所有全球畅销的母婴货源。</p>
		        		</div>
		        	</div>
	        	</div>
        	</div>
        </div>
    </div>

    <div id="footer"></div>
</body>
</html>
<script>
    $(function () {
        $('#header').load('header.html');
        $('#footer').load('footer.html')
    })
</script>