<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Title</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!--本页面样式-->
    <link rel="stylesheet" type="text/css" href="../css/about.css"/>
    <script>(function (doc, win) { var de = doc.documentElement, re = 'orientationchange' in window ? 'orientationchange' : 'resize', recalc = function () {var cw = de.clientWidth; if (!cw) return; de.style.fontSize = cw>=750 ? '100px' : 100 * (cw / 750) + 'px'; };recalc(); if (!doc.addEventListener) return; win.addEventListener(re, recalc, false); doc.addEventListener('DOMContentLoaded', recalc, false); })(document, window);</script>

</head>
<body>
	
    <div id="header"></div>
    
    <div class="banner">
		<img src="../image/aboutUS-banner-05.jpg" alt=""/>
	</div>
	<div id="contentIndex">
		
        <div class="container">
        	<div id="college">
	        	<div class="row college_title" >
		        	<h2 class="college_h2">关于妈妈去哪儿IEBC</h2>
		        	<p>妈妈去哪儿国际精英商学院IEBC系妈妈去哪儿平台为全国母婴人打造的母婴精英学院！</p>
		        	<p>妈妈去哪儿IEBC，为全球输送母婴行业精英！</p>
		        	<p>影响力覆盖全国34个省份8万母婴门店，2018年启动浙江、江苏、安徽、重庆、上海、长沙等城市培训！妈妈去哪儿创始人李晓星女士亲自授课！母婴店营业额疯长30%吸金大法堪称门店运营课程史上之最！多角度、多维度剖析分解，用最简单易操作的招数破局！反响热烈！57%的签约门店，课后月销售额增长一半以上！</p>
		        </div>
		        <div class="bg" style="background: #F8F8F8;">
		        	<div class="row college_content">
		        		<h2 class="college_h2">全国巡回公开课</h2>
		        		<div class="wrapper clearfix">
		        			<div class="col-xs-6 col-md-4 item-info">
		        				<div class="shadow">
			        				<img src="../image/feature01.jpg"/>
			        				<div class="icon clearfix">
			        					<span class="col-md-6 col-xs-6 zoomOut"><i class="glyphicon glyphicon-zoom-in"></i></span>
			        					<span class="col-md-6 col-xs-6"><i class="glyphicon glyphicon-play-circle"></i></span>
			        				</div>
			        				<p>杭州</p>
		        				</div>
		        				<div id="carousel-city-1"  class="carousel slide carousel-inside">
		        					<div class="carousel-inner" role="listbox">
		        					<div class="item active">
		        						<img src="../image/222.jpg"/>
		        					</div>
		        					<div class="item">
		        						<img src="../image/222.jpg"/>
		        						
		        					</div>
		        					<div class="item">
		        						<img src="../image/222.jpg"/>
		        					</div>
		        					</div>
		        					  <a class="left carousel-control" href="#carousel-city-1" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-city-1" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>
		        				</div>
		        			</div>
		        			<div class="col-xs-6 col-md-4 item-info">
		        				<div class="shadow">
			        				<img src="../image/feature01.jpg"/>
			        				<div class="icon clearfix">
			        					<span class="col-md-6 col-xs-6 zoomOut"><i class="glyphicon glyphicon-zoom-in"></i></span>
			        					<span class="col-md-6 col-xs-6"><i class="glyphicon glyphicon-play-circle"></i></span>
			        				</div>
			        				<p>无锡</p>
		        				</div>
		        				<div id="carousel-city-2"  class="carousel slide carousel-inside">
		        					<div class="carousel-inner" role="listbox">
		        					<div class="item active">
		        						<img src="../image/02.jpg"/>
		        					</div>
		        					<div class="item">
		        						<img src="../image/02.jpg"/>
		        						
		        					</div>
		        					<div class="item">
		        						<img src="../image/02.jpg"/>
		        					</div>
		        					</div>
		        					  <a class="left carousel-control" href="#carousel-city-2" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-city-2" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>
		        				</div>
		        			</div>
		        			<div class="col-xs-6 col-md-4 item-info">
		        				<div class="shadow">
		        					<img src="../image/feature01.jpg"/>
			        				<div class="icon clearfix">
			        					<span class="col-md-6 col-xs-6 zoomOut"><i class="glyphicon glyphicon-zoom-in"></i></span>
			        					<span class="col-md-6 col-xs-6"><i class="glyphicon glyphicon-play-circle"></i></span>
			        				</div>
			        				<p>宁波</p>
		        				</div>
		        				<div id="carousel-city-3"  class="carousel slide carousel-inside">
		        					<div class="carousel-inner" role="listbox">
		        					<div class="item active">
		        						<img src="../image/03.jpg" />
		        					</div>
		        					<div class="item">
		        						<img src="../image/03.jpg" />
		        						
		        					</div>
		        					<div class="item">
		        						<img src="../image/03.jpg" />
		        					</div>
		        					</div>
		        					  <a class="left carousel-control" href="#carousel-city-3" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-city-3" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>
		        				</div>
		        			</div>
		        			<div class="col-xs-6 col-md-4 item-info">
		        				<div class="shadow">
		        					<img src="../image/feature01.jpg"/>
			        				<div class="icon clearfix">
			        					<span class="col-md-6 col-xs-6 zoomOut"><i class="glyphicon glyphicon-zoom-in"></i></span>
			        					<span class="col-md-6 col-xs-6"><i class="glyphicon glyphicon-play-circle"></i></span>
			        				</div>
			        				<p>济南</p>
		        				</div>
		        				<div id="carousel-city-4"  class="carousel slide carousel-inside">
		        					<div class="carousel-inner" role="listbox">
		        					<div class="item active">
		        						<img src="../image/111.jpg" />
		        					</div>
		        					<div class="item">
		        						<img src="../image/111.jpg" />
		        						
		        					</div>
		        					<div class="item">
		        						<img src="../image/111.jpg" />
		        					</div>
		        					</div>
		        					  <a class="left carousel-control" href="#carousel-city-4" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									  </a>
									  <a class="right carousel-control" href="#carousel-city-4" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									  </a>
		        				</div>
		        			</div>
		        		</div>
		        		
		        	</div>		        		
		        </div>
        		<div class="row">
        			<h2 class="college_h2">学员反馈</h2>
        			<div class="college_reply">
        				<div class="college_pad">
	        				<div class="icon1"><img src="../image/college_01.jpg"/></div>
	        				<div class="icon2"><img src="../image/college_02.png"/></div>
	        				<div id="carousel-reply" class="carousel slide">
	        					<div class="carousel-inner" role="listbox" >
	        						<div class="item active">
	        							<div class="name clearfix">
				        					<div class="pic">
				        						<img src="../image/aboutUS-banner-01.jpg"/>
				        					</div>
				        					<div class="word"><span class="des">第一期学员</span><span class="intro">贝贝母婴馆</span></div>
				        				</div>
				        				<div class="message">
				        					<p>感谢妈妈去哪儿大学这么好的一个平台，解决了我长期不知道怎么引导客户的难题。感谢星姐，无私的把这些运营宝典教给我们！  现在我的感谢妈妈去哪儿大学这么好的一个平台，解决了我长期不知道怎么引导客户的难题。感谢星姐，无私的把这些运营宝典教给我们！  现在我的感谢妈妈去哪儿大学这么好的一个平台，解决了我长期不知道怎么引导客户的难题。感谢星姐，无私的把这些运营宝典教给我们！  现在我的感谢妈妈去哪儿大学这么好的一个平台，解决了我长期不知道怎么引导客户的难题。感谢星姐，无私的把这些运营宝典教给我们！  现在我的</p>
				        				</div>
	        						</div>
	        						<div class="item">
	        							<div class="name clearfix">
				        					<div class="pic">
				        						<img src="../image/aboutUS-banner-01.jpg"/>
				        					</div>
				        					<div class="word"><span class="des">第二期学员</span><span class="intro">贝贝母婴馆</span></div>
				        				</div>
				        				<div class="message">
				        					<p>感谢妈妈去哪儿大学这么好的一个平台，解决了我长期不知道怎么引导客户的难题。感谢星姐，无私的把这些运营宝典教给我们！  现在我的感谢妈妈去哪儿大学这么好的一个平台，解决了我长期不知道怎么引导客户的难题。感谢星姐，无私的把这些运营宝典教给我们！  现在我的感谢妈妈去哪儿大学这么好的一个平台，解决了我长期不知道怎么引导客户的难题。感谢星姐，无私的把这些运营宝典教给我们！  现在我的感谢妈妈去哪儿大学这么好的一个平台，解决了我长期不知道怎么引导客户的难题。感谢星姐，无私的把这些运营宝典教给我们！  现在我的</p>
				        				</div>
	        						</div>
	        						<div class="item">
	        							<div class="name clearfix">
				        					<div class="pic">
				        						<img src="../image/aboutUS-banner-01.jpg"/>
				        					</div>
				        					<div class="word"><span class="des">第三期学员</span><span class="intro">贝贝母婴馆</span></div>
				        				</div>
				        				<div class="message">
				        					<p>感谢妈妈去哪儿大学这么好的一个平台，解决了我长期不知道怎么引导客户的难题。感谢星姐，无私的把这些运营宝典教给我们！  现在我的感谢妈妈去哪儿大学这么好的一个平台，解决了我长期不知道怎么引导客户的难题。感谢星姐，无私的把这些运营宝典教给我们！  现在我的感谢妈妈去哪儿大学这么好的一个平台，解决了我长期不知道怎么引导客户的难题。感谢星姐，无私的把这些运营宝典教给我们！  现在我的感谢妈妈去哪儿大学这么好的一个平台，解决了我长期不知道怎么引导客户的难题。感谢星姐，无私的把这些运营宝典教给我们！  现在我的</p>
				        				</div>
	        						</div>
	        						
	        					</div>
	        					<a class="left carousel-control" href="#carousel-reply" role="button" data-slide="prev">
								    <span class="left_icon jt_icon"></span>
								    <span class="sr-only">Previous</span>
								  </a>
								  <a class="right carousel-control" href="#carousel-reply" role="button" data-slide="next">
								    <span class="right_icon jt_icon"></span>
								    <span class="sr-only">Next</span>
								  </a>
	        				</div>
	        				
        				</div>
        			</div>
        		</div>
        		<div class="banner_bottom"></div>
        	</div>
        </div>
        
    </div>
	<div class="fixed-cover">
		<span class="glyphicon glyphicon-remove-circle close_icon"></span>
	</div>
    <div id="footer"></div>
    
</body>
</html>
<script>
    $(function () {
        $('#header').load('header.html');
        $('#footer').load('footer.html');
        $('.college_content .btns li').each(function (index, item) {
        	$(item).click(function () {
        		$('.college_content .btns li').removeClass('active')
        		$(item).addClass('active')
        	})
        })
        // 获取屏幕的宽高
       	var winheight = document.documentElement.clientHeight;
		var winwidth = document.documentElement.clientWidth;
		console.log($('.zoomOut').length)
		$('.zoomOut').each(function (index, item) {
			$(item).click(function () {
				$('.fixed-cover').fadeIn()
				$(item).parents('.item-info').find('.carousel-inside').fadeIn()
			})
		})
		$('.fixed-cover .close_icon').click(function () {
			$('.fixed-cover').fadeOut()
			$('.carousel-inside').fadeOut()
		})
    })
</script>