<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!--本页面样式-->
    <link rel="stylesheet" type="text/css" href="../css/about.css"/>
    <script>(function (doc, win) { var de = doc.documentElement, re = 'orientationchange' in window ? 'orientationchange' : 'resize', recalc = function () {var cw = de.clientWidth; if (!cw) return; de.style.fontSize = cw>=750 ? '100px' : 100 * (cw / 750) + 'px'; };recalc(); if (!doc.addEventListener) return; win.addEventListener(re, recalc, false); doc.addEventListener('DOMContentLoaded', recalc, false); })(document, window);</script>

</head>
<body>
    <div id="header"></div>
    <div class="banner">
		<img src="../image/aboutUS-banner-03.jpg" alt=""/>
		<ul class="aboutUS_nav">
			<li >
				<a href="about.html" title="关于我们">
					<img src="../image/aboutUS_nav01.jpg" alt="关于我们"/>
					<p>关于我们</p>
				</a>
			</li>
			<li>
				<a href="development.html" title="发展历程">
					<img src="../image/aboutUS_nav02.jpg" alt="发展历程"/>
					<p>发展历程</p>
				</a>
			</li>
			<li>
				<a href="team.html" title="核心团队">
					<img src="../image/aboutUS_nav03.jpg" alt="核心团队"/>
					<p>核心团队</p>
				</a>
			</li>
			<li>
				<a href="partner.html" title="战略合作伙伴">
					<img src="../image/aboutUS_nav04.jpg" alt="战略合作伙伴"/>
					<p>战略合作伙伴</p>
				</a>
			</li>
			<li>
				<a href="feature.html" title="特色优势">
					<img src="../image/aboutUS_nav05.jpg" alt="特色优势"/>
					<p>特色优势</p>
				</a>
			</li>
			<li class="active">
				<a href="culture.html" title="企业文化">
					<img src="../image/aboutUS_nav06.jpg" alt="企业文化"/>
					<p>企业文化</p>
				</a>
			</li>
		</ul>
	</div>
	<div id="contentIndex">
        <div class="container">
        	<div id="partner">
	        	<div class="row">
	        		<h2 class="aboutUS-h2">企业文化</h2>
	        		<div class="aboutUS_culture">
	        			<div class="title">
	        				<h3>企业使命</h3>
	        				<p>做母婴零售最信赖运服专家，做母婴品牌最高效动销平台。</p>
	        			</div>
	        			<div class="title">
	        				<h3>核心价值观</h3>
	        				<p>成就伙伴，成就企业，成就祖国，成就世界。</p>
	        			</div>
	        			<div class="title">
	        				<h3>合作理念</h3>
	        				<p>用诚信与智慧让合作伙伴受益，合作才能长久愉悦。</p>
	        			</div>
	        			<div class="content">
	        				<div class="col-xs-12 col-md-6">
	        					<img src="../image/feature01.jpg" alt=""/>
	        				</div>
	        				<div class="col-xs-12 col-md-6">
	        					<img src="../image/feature01.jpg" alt=""/>
	        				</div>
	        				<div class="col-xs-12 col-md-6">
	        					<img src="../image/feature01.jpg" alt=""/>
	        				</div>
	        				<div class="col-xs-12 col-md-6">
	        					<img src="../image/feature01.jpg" alt=""/>
	        				</div>
	        			</div>
	        		</div>
		        </div>
        	</div>
        	
        </div>
   </div>
    <div id="footer"></div>
</body>
<script type="text/javascript">
	$(function () {
        $('#header').load('header.html');
        $('#footer').load('footer.html');
        
   })
</script>
</html>