<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!--本页面样式-->
    <link rel="stylesheet" type="text/css" href="../css/about.css"/>
    <script>(function (doc, win) { var de = doc.documentElement, re = 'orientationchange' in window ? 'orientationchange' : 'resize', recalc = function () {var cw = de.clientWidth; if (!cw) return; de.style.fontSize = cw>=750 ? '100px' : 100 * (cw / 750) + 'px'; };recalc(); if (!doc.addEventListener) return; win.addEventListener(re, recalc, false); doc.addEventListener('DOMContentLoaded', recalc, false); })(document, window);</script>

</head>
<body>
    <div id="header"></div>
    <div class="banner">
		<img src="../image/aboutUS-banner-03.jpg" alt=""/>
		<ul class="aboutUS_nav">
			<li >
				<a href="about.html" title="关于我们">
					<img src="../image/aboutUS_nav01.jpg" alt="关于我们"/>
					<p>关于我们</p>
				</a>
			</li>
			<li>
				<a href="development.html" title="发展历程">
					<img src="../image/aboutUS_nav02.jpg" alt="发展历程"/>
					<p>发展历程</p>
				</a>
			</li>
			<li>
				<a href="team.html" title="核心团队">
					<img src="../image/aboutUS_nav03.jpg" alt="核心团队"/>
					<p>核心团队</p>
				</a>
			</li>
			<li>
				<a href="partner.html" title="战略合作伙伴">
					<img src="../image/aboutUS_nav04.jpg" alt="战略合作伙伴"/>
					<p>战略合作伙伴</p>
				</a>
			</li>
			<li class="active">
				<a href="feature.html" title="特色优势">
					<img src="../image/aboutUS_nav05.jpg" alt="特色优势"/>
					<p>特色优势</p>
				</a>
			</li>
			<li >
				<a href="culture.html" title="企业文化">
					<img src="../image/aboutUS_nav06.jpg" alt="企业文化"/>
					<p>企业文化</p>
				</a>
			</li>
		</ul>
	</div>
	<div id="contentIndex">
        <div class="container">
        	<div id="partner">
	        	<div class="row">
	        		<h2 class="aboutUS-h2">特色优势</h2>
	        		<div class="aboutUS_feature">
	        			<div class="left col-md-6 col-xs-12">
	        				<img src="../image/feature01.jpg"/>
	        			</div>
	        			<div class="right col-md-6 col-xs-12">
	        				<p>妈妈去哪儿是一家根植于母婴行业的“产业互联网公司”，致力于“用互联网技术改造传统的线下母婴零售业态，为其赋能互联网工具、为其打通上下游连接，使其综合盈利能力得到全面提升”。</p>
	        				<p>成立四年累计完成4次股权融资。妈妈去哪儿是国内母婴互联网企业中唯一拥有大比例国有资产的企业。2018年6月，入选浙商pre独角兽榜单。</p>
	        				<p>妈妈去哪儿在母婴互联网创业企业中成绩优越，拥有更高的效率、更好的服务商户的能力，也拥有极强的盈利能力。</p>
	        				<p>被投资界誉为“中国母婴零售业最具创新精神、最具人文情怀、最具发展潜力的互联网平台之一”。</p>
	        				<p>它不仅是消费者、母婴店与品牌商高效连接的最重要平台，也是一家拥有优秀的商品品牌创新和运营能力的企业，更是一家能够为中国十几万母婴店主带来好产品、好服务、高盈利的“母婴店最信赖合作伙伴”。</p>
	        			</div>
	        		</div>
		        </div>
        	</div>
        	
        </div>
   </div>
    <div id="footer"></div>
</body>
<script type="text/javascript">
	$(function () {
        $('#header').load('header.html');
        $('#footer').load('footer.html');
        $('.carousel').carousel()
   })
</script>
</html>