<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Title</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/footer.css">

    <!--本页面样式-->
    <link rel="stylesheet" href="../css/index.css">
    <script>(function (doc, win) { var de = doc.documentElement, re = 'orientationchange' in window ? 'orientationchange' : 'resize', recalc = function () {var cw = de.clientWidth; if (!cw) return; de.style.fontSize = cw>=750 ? '100px' : 100 * (cw / 750) + 'px'; };recalc(); if (!doc.addEventListener) return; win.addEventListener(re, recalc, false); doc.addEventListener('DOMContentLoaded', recalc, false); })(document, window);</script>

</head>
<body>
    <div class="footerBg">
        <div class="footerBox">
            <div class="row" style="margin-top: 0.3rem">
                <div class="col-md-4 col-sm-4 col-xs-4 footerDiv" style="padding-right: 0.5rem" >
                    <div>
                        <p style="margin: 0;padding-top: 0.1rem">400-998-1059</p>
                        <p>免费服务热线</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 footerDiv" style="padding: 0 0.25rem">
                    <div>
                        <p  style="margin: 0;padding-top: 0.1rem">供应商入驻申请</p>
                        <p id="supplier" style="cursor: pointer">立即入驻</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 footerDiv" style="padding-left: 0.5rem">
                    <div>
                        <p  style="margin: 0;padding-top: 0.1rem">门店加盟申请</p>
                        <p id="xiaodian" style="cursor: pointer">立即入驻</p>
                    </div>
                </div>
            </div>
            <div class="foot_ft"><div>
            	<a id="_pinganTrust" target="_blank" href="http://c.trustutn.org/s/mamaqunaer.com"><img src="http://c.trustutn.org/images/cert/cert_0_1.png" width="100%"></a><a id="___szfw_logo___" href="https://credit.szfw.org/CX20170727035278850152.html" target="_blank"><img src="http://icon.szfw.org/cert.png" border="0" width="100%"></a><a href="" style="background-position:-294px 0;"></a>
            </div></div>
            <script type="text/javascript">
				(function() {
					document.getElementById('___szfw_logo___').oncontextmenu = function() {
						return false;
					}
				})();
			</script>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p>CopyRight 2003-2017 妈妈去哪儿网 All Rights Reserved 浙ICP备17009131号
				<a href="http://www.alexa.cn" target="_blank" style="background: none; height:20px; width:50px; margin-bottom:0px; color:white;">ALEXA</a></p>
                    <p>地址：浙江省杭州市滨江区长河路475号和瑞科技园T2-13F&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;服务电话：400-998-1059&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商务合作：mkt@mamaqunaer.com</p>
                </div>
            </div>
        </div>
    </div>
    <script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?344facc82bc907a750958e53319add37";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>

</body>
</html>
<script>
    $(function () {
        $('#supplier').click(function () {
            window.open('https://supplier.mamaqunaer.com/#/register')
        });
        $('#xiaodian').click(function () {
            window.open('http://xiaodian.mamaqunaer.com/login/register')
        })
    })
</script>