<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>妈妈去哪儿_官网_宝妈必备的一站式育儿平台</title>
	<meta name="Keywords" content="妈妈去哪儿，杭州妈妈去哪儿网络科技有限公司， 妈妈网， 母婴网 ，母婴电商S2B2C平台，妈妈购物网，怀孕备孕，婴儿，育儿交流，亲子早教， 饮食， 健康，妈妈论坛，月子会所">
	<meta name="Description" content="妈妈去哪儿是中国第一S2B母婴童垂直店商平台，围绕“孕、产、哺、保、养、教、顽、育、护”九大业态，对0-6岁孩童家庭提供一站式个性化的服务解决方案，是宝妈生娃育儿必备第一神器！">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/header.css">

    <!--本页面样式-->
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery.min.js"></script>
    <script>(function (doc, win) { var de = doc.documentElement, re = 'orientationchange' in window ? 'orientationchange' : 'resize', recalc = function () {var cw = de.clientWidth; if (!cw) return; de.style.fontSize = cw>=750 ? '100px' : 100 * (cw / 750) + 'px'; };recalc(); if (!doc.addEventListener) return; win.addEventListener(re, recalc, false); doc.addEventListener('DOMContentLoaded', recalc, false); })(document, window);</script>

</head>
<body>
    <div class="headerBg">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img src="../image/logo.jpg" alt="妈妈去哪儿" class="headerImgLogo" style="cursor: pointer">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div style="width: 2rem"></div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav" id="headerAcitve">
                        <li class="activeR"><a href="index.html">首页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-bottom: 0.16rem">
                                招商加盟 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="shopJoin.html">门店加盟</a></li>
                                <li><a href="supplierEntry.html">供应商入驻</a></li>
                                <li><a href="mutuki.html">Mutuki代理</a></li>
                                <li><a href="maternity.html">月嫂加盟</a></li>
                            </ul>
                        </li>
                        <li><a href="join.html">加入我们</a></li>
                        <li><a href="about.html">关于我们</a></li>
                        <li><a href="college.html">商学院</a></li>
                        <li style="display: flex">
                            <a href="https://xiaodian.mamaqunaer.com/login" target="_blank" class="shopLogin"><span>门店登录</span></a>
                            <a href="https://supplier.mamaqunaer.com/#/login" target="_blank" class="merchanLogin"><span>商家登录</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>
<script>
    $(function () {
        $('.headerImgLogo').click(function () {
            window.location.href = 'index.html'
        });

        $('.headerAcitve li').each(function (index, date) {
            $(date).click(function () {

            })
        })
    })
</script>