<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Title</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!--本页面样式-->
    <link rel="stylesheet" type="text/css" href="../css/about.css"/>
    <script>(function (doc, win) { var de = doc.documentElement, re = 'orientationchange' in window ? 'orientationchange' : 'resize', recalc = function () {var cw = de.clientWidth; if (!cw) return; de.style.fontSize = cw>=750 ? '100px' : 100 * (cw / 750) + 'px'; };recalc(); if (!doc.addEventListener) return; win.addEventListener(re, recalc, false); doc.addEventListener('DOMContentLoaded', recalc, false); })(document, window);</script>

</head>
<body>
    <div id="header"></div>
    <div class="banner">
		<img src="../image/aboutUS-banner-04.jpg" alt=""/>
		<ul class="aboutUS_nav join_nav">
			<li class="active">
				<a href="" target="_blank" title="运营部">
					<i class="nav_icon1 nav_icon"></i>
					<p>运营部</p>
				</a>
			</li>
			<li>
				<a href="" target="_blank" title="市场部">
					<i class="nav_icon2 nav_icon"></i>
					<p>市场部</p>
				</a>
			</li>
			<li>
				<a href="" target="_blank" title="研发部">
					<i class="nav_icon3 nav_icon"></i>
					<p>研发部</p>
				</a>
			</li>
			<li>
				<a href="" target="_blank" title="客服部">
					<i class="nav_icon4 nav_icon"></i>
					<p>客服部</p>
				</a>
			</li>
			<li>
				<a href="" target="_blank" title="人事部">
					<i class="nav_icon5 nav_icon"></i>
					<p>人事部</p>
				</a>
			</li>
			<li>
				<a href="" target="_blank" title="财务部">
					<i class="nav_icon6 nav_icon"></i>
					<p>财务部</p>
				</a>
			</li>
		</ul>
	</div>
	<div id="contentIndex">
        <div class="container">
        	<div id="about">
	        	<div class="row join_content">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingOne">
					    	<h2><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">运营专员/App推广</a></h2>
					    	<h3>职位描述：</h3>
					    	<ul>
					    		<li>1、负责APP推广渠道管理，APP版本更新及应用市场活动申请等；</li>
								<li>2、负责平台后台的日常运营维护，各项数据的整理收集及反馈；</li>
								<li>3、综合应用微信、论坛、博客、社区等网络推广方式，提高公司产品曝光度、知名度和下</li>
					    	</ul>
					    	<a class="enter col-md-1 col-xs-1" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></a>
					    </div>
					    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					      <div class="panel-body">
					        <div class="title">职位诱惑：</div>
					        <p>15薪以上，全额公积金</p>
					    	<div class="title">职责要求：</div>
					    	<dl>
					    		<dt>岗位职责：</dt>
					    		<dd>1、负责APP推广渠道管理，APP版本更新及应用市场活动申请等；</dd>
								<dd>2、负责平台后台的日常运营维护，各项数据的整理收集及反馈；</dd>
								<dd>3、综合应用微信、论坛、博客、社区等网络推广方式，提高公司产品曝光度、知名度和下</dd>
								<dd>4、负责平台后台的日常运营维护，各项数据的整理收集及反馈；</dd>
								<dd>5、负责APP推广渠道管理，APP版本更新及应用市场活动申请等；</dd>
					    	</dl>
					    	<dl>
					    		<dt>任职要求：</dt>
					    		<dd>1、负责APP推广渠道管理，APP版本更新及应用市场活动申请等；</dd>
								<dd>2、负责平台后台的日常运营维护，各项数据的整理收集及反馈；</dd>
								<dd>3、综合应用微信、论坛、博客、社区等网络推广方式，提高公司产品曝光度、知名度和下</dd>
								<dd>4、负责平台后台的日常运营维护，各项数据的整理收集及反馈；</dd>
								<dd>5、负责APP推广渠道管理，APP版本更新及应用市场活动申请等；</dd>
					    	</dl>
					    	<dl>
					    		<dt>工作地址：</dt>
					    		<dd>杭州-滨江区-和瑞科技园T2-301</dd>
					    	</dl>
					    	<dl>
					    		<dt>投递邮箱：</dt>
					    		<dd>bhb@mamaqunaer.com</dd>
					    	</dl>
					    	<div class="submit">
					    		<a href="###" title="提交申请">提交申请</a>
					    		<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">返回</a>
					    	</div>
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingTwo">
					      <h2><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">运营专员/App推广</a></h2>
					    	<h3>职位描述：</h3>
					    	<ul>
					    		<li>1、负责APP推广渠道管理，APP版本更新及应用市场活动申请等；</li>
								<li>2、负责平台后台的日常运营维护，各项数据的整理收集及反馈；</li>
								<li>3、综合应用微信、论坛、博客、社区等网络推广方式，提高公司产品曝光度、知名度和下</li>
					    	</ul>
					    	<a class="enter col-md-1 col-xs-1" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"></a>
					    </div>
					    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					        <div class="panel-body">
					        <div class="title">职位诱惑：</div>
					        <p>15薪以上，全额公积金</p>
					    	<div class="title">职责要求：</div>
					    	<dl>
					    		<dt>岗位职责：</dt>
					    		<dd>1、负责APP推广渠道管理，APP版本更新及应用市场活动申请等；</dd>
								<dd>2、负责平台后台的日常运营维护，各项数据的整理收集及反馈；</dd>
								<dd>3、综合应用微信、论坛、博客、社区等网络推广方式，提高公司产品曝光度、知名度和下</dd>
								<dd>4、负责平台后台的日常运营维护，各项数据的整理收集及反馈；</dd>
								<dd>5、负责APP推广渠道管理，APP版本更新及应用市场活动申请等；</dd>
					    	</dl>
					    	<dl>
					    		<dt>任职要求：</dt>
					    		<dd>1、负责APP推广渠道管理，APP版本更新及应用市场活动申请等；</dd>
								<dd>2、负责平台后台的日常运营维护，各项数据的整理收集及反馈；</dd>
								<dd>3、综合应用微信、论坛、博客、社区等网络推广方式，提高公司产品曝光度、知名度和下</dd>
								<dd>4、负责平台后台的日常运营维护，各项数据的整理收集及反馈；</dd>
								<dd>5、负责APP推广渠道管理，APP版本更新及应用市场活动申请等；</dd>
					    	</dl>
					    	<dl>
					    		<dt>工作地址：</dt>
					    		<dd>杭州-滨江区-和瑞科技园T2-301</dd>
					    	</dl>
					    	<dl>
					    		<dt>投递邮箱：</dt>
					    		<dd>bhb@mamaqunaer.com</dd>
					    	</dl>
					    	<div class="submit">
					    		<a href="###" title="提交申请">提交申请</a>
					    		<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">返回</a>
					    	</div>
					      </div>
					    
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingThree">
					      <h2><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">运营专员/App推广</a></h2>
					    	<h3>职位描述：</h3>
					    	<ul>
					    		<li>1、负责APP推广渠道管理，APP版本更新及应用市场活动申请等；</li>
								<li>2、负责平台后台的日常运营维护，各项数据的整理收集及反馈；</li>
								<li>3、综合应用微信、论坛、博客、社区等网络推广方式，提高公司产品曝光度、知名度和下</li>
					    	</ul>
					    	<a class="enter col-md-1 col-xs-1" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree"></a>
					    </div>
					    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					        <div class="panel-body">
					        <div class="title">职位诱惑：</div>
					        <p>15薪以上，全额公积金</p>
					    	<div class="title">职责要求：</div>
					    	<dl>
					    		<dt>岗位职责：</dt>
					    		<dd>1、负责APP推广渠道管理，APP版本更新及应用市场活动申请等；</dd>
								<dd>2、负责平台后台的日常运营维护，各项数据的整理收集及反馈；</dd>
								<dd>3、综合应用微信、论坛、博客、社区等网络推广方式，提高公司产品曝光度、知名度和下</dd>
								<dd>4、负责平台后台的日常运营维护，各项数据的整理收集及反馈；</dd>
								<dd>5、负责APP推广渠道管理，APP版本更新及应用市场活动申请等；</dd>
					    	</dl>
					    	<dl>
					    		<dt>任职要求：</dt>
					    		<dd>1、负责APP推广渠道管理，APP版本更新及应用市场活动申请等；</dd>
								<dd>2、负责平台后台的日常运营维护，各项数据的整理收集及反馈；</dd>
								<dd>3、综合应用微信、论坛、博客、社区等网络推广方式，提高公司产品曝光度、知名度和下</dd>
								<dd>4、负责平台后台的日常运营维护，各项数据的整理收集及反馈；</dd>
								<dd>5、负责APP推广渠道管理，APP版本更新及应用市场活动申请等；</dd>
					    	</dl>
					    	<dl>
					    		<dt>工作地址：</dt>
					    		<dd>杭州-滨江区-和瑞科技园T2-301</dd>
					    	</dl>
					    	<dl>
					    		<dt>投递邮箱：</dt>
					    		<dd>bhb@mamaqunaer.com</dd>
					    	</dl>
					    	<div class="submit">
					    		<a href="###" title="提交申请">提交申请</a>
					    		<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">返回</a>
					    	</div>
					      </div>
					    </div>
					  </div>
					</div>
	        	</div>
        	</div>
        </div>
    </div>

    <div id="footer"></div>
</body>
</html>
<script>
    $(function () {
        $('#header').load('header.html');
        $('#footer').load('footer.html')
    })
</script>