<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Title</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

    <!--本页面样式-->
    <link rel="stylesheet" href="../css/index.css">
    <script>(function (doc, win) { var de = doc.documentElement, re = 'orientationchange' in window ? 'orientationchange' : 'resize', recalc = function () {var cw = de.clientWidth; if (!cw) return; de.style.fontSize = cw>=750 ? '100px' : 100 * (cw / 750) + 'px'; };recalc(); if (!doc.addEventListener) return; win.addEventListener(re, recalc, false); doc.addEventListener('DOMContentLoaded', recalc, false); })(document, window);</script>

</head>
<body>
    <div id="header"></div>
    <!--内容-->
    <div id="contentMaternity">
        <img src="./../image/maternity-bander.png" alt="加入月嫂" style="width: 100%">
        <div class="container">
            <div class="row headline">
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 0.3rem">
                    <h2>80/90后新生妈妈消费习惯分析</h2>
                </div>
                <div style="padding: 0.2rem">
                    <p>新生妈妈基本属于计划生育时代的一胎群体，比较娇贵，且与上一代存在理念上的差异</p>
                    <p>80/90后的父母比较年轻，大部分也不知道如何照料子女做月子</p>
                    <p>婆婆妈妈共同出钱去月子会所或找专业月嫂</p>
                    <p>成为一种尊贵的时尚感</p>
                    <p>重视月嫂的专业护理水平、形象、学历、普通话等</p>
                    <p>对价格不敏感，重视品牌、品质和口碑</p>
                </div>

            </div>
        </div>
        <div class="container" style="background: #f8f8f8">
            <div class="row headline">
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 0.3rem">
                    <h2>甄月嫂优势</h2>
                </div>
            </div>
            <div class="row maternityText" style="padding-bottom:  0.4rem">
                <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 0.3rem;padding: 0 0.2rem">
                    <img src="./../image/maternityimg1.png" alt="" style="width: 100%">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="padding: 0 0.2rem">
                    <p>隶属于有着20多年教育培训经验的实践家知识管理集团。专精培育母婴产业人才，是母婴护理行业标准的践行者和参与者。</p>
                    <h4 style="margin-top: 0.3rem">服务理念：</h4>
                    <p  style="margin-top: 0.2rem">台式月嫂、台式服务、严格的招聘筛选体系、多对一的服务、标准的服务流程及售后</p>
                    <p>服务SOP</p>
                    <p>风控体系</p>
                    <p>专业培训销售妈妈去哪儿制定的产品（奶粉、纸尿裤、婴儿床……）</p>
                    <p>衍生育儿嫂的服务</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row headline">
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 0.3rem">
                    <h2>母婴护理服务</h2>
                </div>
            </div>
            <div class="row">
                <div class="maternityImgBox">
                    <img src="./../image/maternityimg01.png" alt="" >
                    <img src="./../image/maternityimg02.png" alt="" >
                    <img src="./../image/maternityimg03.png" alt="" >
                    <img src="./../image/maternityimg04.png" alt="" >
                    <img src="./../image/maternityimg05.png" alt="" >
                </div>
            </div>
        </div>
        <div class="container" style="background: #f8f8f8;padding-bottom: 0.4rem">
            <div class="row headline">
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 0.3rem">
                    <h2>甄月嫂四大保障</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 maternityBto">
                    <img src="./../image/maternityimg2.png" alt="">
                    <div>
                        <h4>月嫂持证上岗</h4>
                        <p>身份证、健康证、专项职业证书</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 maternityBto">
                    <img src="./../image/maternityimg3.png" alt="">
                    <div>
                        <h4>商业保险</h4>
                        <p>雇主、服务人员双保意外险</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 maternityBto">
                    <img src="./../image/maternityimg4.png" alt="">
                    <div style="padding-bottom: 0.01rem">
                        <h4>服务标准化</h4>
                        <p>解约有保障，可退无风险，工作有计划，服务有日志，产后有回访，母婴护理服务体系，咨询永在线</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 maternityBto">
                    <img src="./../image/maternityimg5.png" alt="">
                    <div>
                        <h4>科学月子餐</h4>
                        <p>量身定制月子调理食谱</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="footer"></div>
</body>
</html>
<script>
    $(function () {
        $('#header').load('header.html');
        $('#footer').load('footer.html')
    })
</script>