<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!--本页面样式-->
    <link rel="stylesheet" type="text/css" href="../css/about.css"/>
    <script>(function (doc, win) { var de = doc.documentElement, re = 'orientationchange' in window ? 'orientationchange' : 'resize', recalc = function () {var cw = de.clientWidth; if (!cw) return; de.style.fontSize = cw>=750 ? '100px' : 100 * (cw / 750) + 'px'; };recalc(); if (!doc.addEventListener) return; win.addEventListener(re, recalc, false); doc.addEventListener('DOMContentLoaded', recalc, false); })(document, window);</script>

</head>
<body>
    <div id="header"></div>
    <div class="banner">
		<img src="../image/aboutUS-banner-02.jpg" alt=""/>
		<ul class="aboutUS_nav">
			<li >
				<a href="about.html" title="关于我们">
					<img src="../image/aboutUS_nav01.jpg" alt="关于我们"/>
					<p>关于我们</p>
				</a>
			</li>
			<li>
				<a href="development.html" title="发展历程">
					<img src="../image/aboutUS_nav02.jpg" alt="发展历程"/>
					<p>发展历程</p>
				</a>
			</li>
			<li>
				<a href="team.html" title="核心团队">
					<img src="../image/aboutUS_nav03.jpg" alt="核心团队"/>
					<p>核心团队</p>
				</a>
			</li>
			<li class="active">
				<a href="partner.html" title="战略合作伙伴">
					<img src="../image/aboutUS_nav04.jpg" alt="战略合作伙伴"/>
					<p>战略合作伙伴</p>
				</a>
			</li>
			<li>
				<a href="feature.html" title="特色优势">
					<img src="../image/aboutUS_nav05.jpg" alt="特色优势"/>
					<p>特色优势</p>
				</a>
			</li>
			<li >
				<a href="culture.html" title="企业文化">
					<img src="../image/aboutUS_nav06.jpg" alt="企业文化"/>
					<p>企业文化</p>
				</a>
			</li>
		</ul>
	</div>
	<div id="contentIndex">
        <div class="container">
        	<div id="teamDetail">
	        	<div class="row" >
		        	<div class="aboutUS_con3_detail">
		        		<div class="content">
							<div id="carousel-example-generic" class="carousel slide">
							  <!-- Wrapper for slides -->
							  <div class="carousel-inner" role="listbox">
							    <div class="item active">
							    	<div class="col-xs-8 col-md-7">
								    	<div class="left">
								    		<div class="wordDes">
								    			<p class="name">李晓星</p>
								    			<p class="intro">
								    				妈妈去哪儿创始人    总裁
								    			</p>
								    			<p class="description">
								    				现任知墨科技集团董事长、妈妈去哪儿公司董事长。曾任上市公司高管、全国十强视频网站 播视网首席运营官、功虎创学院。现任知墨科技集团董事长、妈妈去哪儿公司董事长。曾任上市公司高管、全国十强视频网站 播视网首席运营官、功虎创学院，现任知墨科技集团董事长、妈妈去哪儿公司董事长。曾任上市公司高管、全国十强视频网站 播视网首席运营官、功虎创学院，现任知墨科技集团董事长、妈妈去哪儿公司董事长。曾任上市公司高管、全国十强视频网站 播视网首席运营官、功虎创学院
								    			</p>
							    			</div>
							    		</div>
							    	</div>
							    	<div class="right col-xs-4 col-md-5">
							    		<img src="../image/ppp.png" alt=""/>
							    	</div>
							    </div>
							    <div class="item">
							    	<div class="col-xs-8 col-md-7">
								    	<div class="left">
								    		<div class="wordDes">
								    			<p class="name">李晓星</p>
								    			<p class="intro">
								    				妈妈去哪儿创始人    总裁
								    			</p>
								    			<p class="description">
								    				现任知墨科技集团董事长、妈妈去哪儿公司董事长。曾任上市公司高管、全国十强视频网站 播视网首席运营官、功虎创学院。现任知墨科技集团董事长、妈妈去哪儿公司董事长。曾任上市公司高管、全国十强视频网站 播视网首席运营官、功虎创学院，现任知墨科技集团董事长、妈妈去哪儿公司董事长。曾任上市公司高管、全国十强视频网站 播视网首席运营官、功虎创学院，现任知墨科技集团董事长、妈妈去哪儿公司董事长。曾任上市公司高管、全国十强视频网站 播视网首席运营官、功虎创学院
								    			</p>
							    			</div>
							    		</div>
							    	</div>
							    	<div class="right col-xs-4 col-md-5">
							    		<img src="../image/ppp.png" alt=""/>
							    	</div>
							    </div>
							    <div class="item">
							    	<div class="col-xs-8 col-md-7">
								    	<div class="left">
								    		<div class="wordDes">
								    			<p class="name">李晓星</p>
								    			<p class="intro">
								    				妈妈去哪儿创始人    总裁
								    			</p>
								    			<p class="description">
								    				现任知墨科技集团董事长、妈妈去哪儿公司董事长。曾任上市公司高管、全国十强视频网站 播视网首席运营官、功虎创学院。现任知墨科技集团董事长、妈妈去哪儿公司董事长。曾任上市公司高管、全国十强视频网站 播视网首席运营官、功虎创学院，现任知墨科技集团董事长、妈妈去哪儿公司董事长。曾任上市公司高管、全国十强视频网站 播视网首席运营官、功虎创学院，现任知墨科技集团董事长、妈妈去哪儿公司董事长。曾任上市公司高管、全国十强视频网站 播视网首席运营官、功虎创学院
								    			</p>
							    			</div>
							    		</div>
							    	</div>
							    	<div class="right col-xs-4 col-md-5">
							    		<img src="../image/ppp.png" alt=""/>
							    	</div>
							    </div>
							  </div>
							  <!-- Controls -->
							  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
							    <span class="left_icon jt_icon"></span>
							    <span class="sr-only">Previous</span>
							  </a>
							  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
							    <span class="right_icon jt_icon"></span>
							    <span class="sr-only">Next</span>
							  </a>
							</div>
		        		</div>
		        	</div>
	        	</div>
        	</div>
        	
        </div>
   </div>
    <div id="footer"></div>
</body>
<script type="text/javascript">
	$(function () {
        $('#header').load('header.html');
        $('#footer').load('footer.html');
   })
</script>
</html>